<div class='newinkform'>
  <%= form_for @ink do |f| %>
  <div class='ink-form'>
    <div class="form-field">
      <%= f.label :color_name, 'Color Name' %>
      <%= f.text_field :color_name %>
    </div>
    <div class="form-field">
      <%= f.label :manufacturer, 'Manufacturer' %>
      <%= f.text_field :manufacturer %>
    </div>
    <div class="form-field">
      <%= f.label :line, 'Line' %>
      <%= f.text_field :line %>
    </div>
    <div class="form-field">
      <%= f.label :description, 'Description' %>
      <%= f.text_field :description %>
    </div>
    <%= f.submit class: 'button' %>
  </div>
  <% end %>
</div>
