<body>
  <% if user_signed_in? %>
    <h4 class="add-ink"><%= link_to "Add New Ink", new_ink_path %></h4>
  <% end %>

  <h1 class="title">Inks</h1>
  <div class="row">
    <% @inks.each do |ink| %>
      <% if ink == @inks.last %>
        <% end_class = 'end' %>
      <% else %>
        <% end_class = '' %>
      <% end %>
      <div class="small-12 medium-6 large-3 columns <%= end_class %>">
        <div class="ink-details">
          <p class="name"><%= link_to "#{ink.color_name}", ink_path(ink) %></p>
          <div class="picture-small">
            <% if !ink.ink_pic.blank? %>
              <%= link_to image_tag(ink.ink_pic, :alt => 'ink bottle by bezier master from the Noun Project'), ink_path(ink) %>
              <p><%= ink.manufacturer %></p>
            <% else %>
              <%= link_to image_tag('ink_bottle_icon.png'), ink_path(ink) %>
              <p><%= ink.manufacturer %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</body>
