<div class="small-11 columns">
  <% if user_signed_in? %>
    <div class="add-to-collection">
      <%= button_to "Add to My Collection", user_user_inks_path(user_id: current_user.id, ink_id: @ink.id), action: "create", method: :post %>
    </div>
  <% end %>
  <div class="show-details text-center">
    <% unless @ink.ink_pic.blank? %>
      <div class="picture"><%= image_tag @ink.ink_pic %></div>
    <% end %>
    <p class="name"><%= @ink.color_name %></p>
    <p><%= @ink.manufacturer %></p>
    <p><%= @ink.line %></p>
    <p><%= @ink.description %></p>
    <% if user_signed_in? %>
    <p><%= link_to "Edit Ink", edit_ink_path(@ink) %></p>
    <% end %>
    <% if user_signed_in? && current_user.admin %>
    <p><%= link_to "Delete Ink", ink_path(@ink), method: :delete %></p>
    <% end %>
  </div>
</div>
